@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import "node_modules/bootstrap/scss/bootstrap";
/*@import "node_modules/owlcss/owl.carousel";*/
@import "node_modules/bootstrap-icons/font/bootstrap-icons";

// custom color variables
$heading-text: #424a55;
$small-text: #7c8993;
$blue-border :#017fd5;


// Mixin 
@mixin transform($transforms...) {
  // combine the passed transforms into a space separated list
  $transform-list: join($transforms, null, space);

  // print out the transforms 
  -webkit-transform: $transform-list;
     -moz-transform: $transform-list;
      -ms-transform: $transform-list;
       -o-transform: $transform-list;
          transform: $transform-list;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.tb_sldr {
    .hed {
      h1 {
        font-size: 24px;
        color: $heading-text;
        font-weight: 300;
        @include media-breakpoint-up(md) { 
          font-size: 36px;
        }
      }
      p {
        font-size: 18px;
        color: $small-text;
      }
    }
    .nav-tabs {
      border-bottom: solid 2px $blue-border;
      margin-bottom: 20px;
      @include media-breakpoint-down(lg) { 
        flex-wrap: nowrap;
      }
      .nav-link {
        border: none;
        margin-bottom: 0;
        font-size: 14px;
        color: #017fd5;
        //transition: ease-in-out .3s;
        @include media-breakpoint-up(md) { 
          font-size: 18px;
        }
        &.active {
          @include media-breakpoint-up(md) { 
            font-size: 24px;
          }
          position: relative;
          font-size: 14px;
          color: $heading-text;
          &::after {
            content:'';
              width:15px;
              height:15px;
              background: $white;
              position:absolute;
              bottom:-14px;
              left:50%;
              border-right: $blue-border solid 2px;
              border-bottom: $blue-border solid 2px;
              @include transform(
                rotate(45deg),
                translate(-50%, 0%),
              );
          }
        }
      }
    }
    .tab-content {
        .show {
            animation: {
                name: content;
                direction: normal;
                duration: 0.3s;
                timing-function: ease-in-out;
                iteration-count: 1;
            }
        }
        .card {
          min-height: 371px;
          transition: ease-in-out .3s;
          &:hover {
            box-shadow: 0 0 10px rgba($black, .2);
            .card-body {
              @include transform(
                translateY(-50px),
              );
            }
            img {
              @include transform(
                scale(1.1),
              );
            }
          }
          .card_head {
            position: relative;
            overflow: hidden;
            .str {
              width: 50px;
              height: 50px;
              position: absolute;
              color: $white;
              z-index: 1; 
              top: 0;
              i {
                z-index: 2;
                font-size: 14px;
                position: relative;
                margin: 9px 6px;
              }
              span {
                width: 0;
                height: 0;
                border-top: 50px solid #12d16f;
                border-right: 50px solid transparent;
                display: block;
                position: absolute;
              }
            }
            .prc {
              position: absolute;
              background-color: rgba($black, .25);
              right: 10px;
              top: 10px;
              color: $white;
              font-size: 14px;
              font-weight: 600;
              z-index: 1;
            }
            img {
              transition: ease-in-out .3s;
            }
          }
          .card-body {
            transition: ease-in-out .3s;
            background-color: $white;
            .card_tx {
              padding: 15px 30px;
              margin-bottom: -40px;
              h5 {
                font-size: 18px;
                color: $heading-text;
              }
              p {
                font-size: 14px;
                color: $small-text;
                margin-bottom: 5px;
                .loc {
                  color: #ff5530;
                }
              }
            }
            .det_itm {
              position: absolute;
              width: 100%;
              bottom: 0;
              @include transform(
                translateY(50px),
              );
              .list-group-item {
                min-width: 60px;
                &:last-child a {
                  margin-top: 5px;
                  display: inline-block;
                }
                a {
                  font-size: 16px;
                  text-decoration: none;
                  i {
                    font-size: 22px;
                    color: #ced0d4;
                      &:hover {
                      color: $blue-border;
                    }
                  }
                  &:hover {
                    color: $blue-border;
                  }
                }
                border-bottom: 0;
                &:first-child {
                  border-top-left-radius: 0;
                }
                &:last-child {
                  border-top-right-radius: 0;
                }
              }
            }
          }
        }
    }
}



@keyframes content {
    from {
      opacity: 0;
      @include transform(
        translateY(5%),
      );
    }
    to {
      opacity: 1;
      @include transform(
        translateY(0%),
      );
    }
  }




/*=== owl controller css ===*/
@mixin owl-nav () {
   .owl-prev, .owl-next {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 50%;
      @include transform(
        translateY(-50%),
      );
      display: block !important;
      border:0px solid black;
  }
}

.owl-carousel {
  .owl-nav {
    @include owl-nav();
    .owl-prev {
      left: -20px;
      i {
        transform : scale(2,5);
      }
    }
    .owl-next {
      right: -20px;
      i {
        transform : scale(2,5);
      }
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: solid 2px $blue-border;
      margin: 3px;
      &.active {
        background-color: $blue-border;
      }
    }
  }
}